<h1>Editing train plan</h1>

<%= render "form", train_plan: @train_plan %>

<br>

<div>
  <%= link_to "Show this train plan", @train_plan %> |
  <%= link_to "Back to train plans", train_plans_path %>
</div>
