<div id="<%= dom_id train_block %>">
  <p>
    <strong>Train plan:</strong>
    <%= train_block.train_plan_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= train_block.title %>
  </p>

  <p>
    <strong>Sequence number:</strong>
    <%= train_block.sequence_number %>
  </p>

</div>
