<h1>Editing train block</h1>

<%= render "form", train_block: @train_block %>

<br>

<div>
  <%= link_to "Show this train block", @train_block %> |
  <%= link_to "Back to train blocks", train_blocks_path %>
</div>
